.image {
		display: block;
	    width: 100%;
	    cursor: pointer;
	    height: auto;
}
.description {
		position: absolute;
	    left: 20px;
	    top: 20px;
	    right: 20px;
	    bottom: 20px;
	    background: rgba(18,51,78,0.4);
	    text-align: justify;
	    opacity: 0;
	    cursor: pointer;
}
.description:hover {
	opacity: 1;
}
.user-link {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 2px;

	&:hover {
		background-color: rgba(25,145,248,0.8);
	}
}
.image-link {
	color: #fff;

	&:hover {
		background-color: rgba(75,80,235,0.8);
	}

}