<img class="image" ng-src="{{photo.images.low_resolution.url}}" width="{{photo.images.low_resolution.width}}" height="{{photo.images.low_resolution.height}}" />
<div class="description">
	<h3 class="user-link" ng-click="openUserProfile(photo.user.username)">
		<i class="fa fa-user fa-2x"></i> {{photo.user.username}}
	</h3>
	<p class="image-link" ng-click="openImage(photo.link)">
		<i class="fa fa-picture-o fa-2x"></i> view on Instagram
	</p>
</div>