.side-menu-width(@min-width, @max-width, @menu-width){
    @media only screen and (min-width: @min-width) and (max-width: @max-width) {
        .side-menu {
            width: @menu-width;
        }
        .main-thin {
            width: 100% - @menu-width;
        }
    }
}
.side-menu-width(300px, 449px, 100%);
.side-menu-width(450px, 599px, 50%);
.side-menu-width(600px, 899px, 33.33%);
.side-menu-width(900px, 1299px, 25%);
.side-menu-width(1300px, 1699px, 20%);
.side-menu-width(1700px, 9999px, 16.66%);

.side-menu {
    position: fixed;
    right: 0;
    float: right;
    display: block;
    padding: 0;
    margin: 0;
    height: 90%;
    min-height: 600px;
}
.side-menu-container {
    position: relative;
    width: 90%;
    margin: 10% 5% 0 5%;
    text-align: center;

    h3 {
        margin-top: 25px;
        margin-bottom: 50px;
        font-size: 1.1em;
    }

    ul {
        position: relative;
        font-size: 1em;
        margin: 0;
        padding: 0;        
    }

    a {
        text-decoration: none;
        font-weight: 700;
    }
}
.side-submenu {
    li {
        margin: 20px 0;
        list-style: none;
    }
}
.side-footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: 0 5% 35% 5%;
}
.insta-logo {
    position: relative;
    width: 100%;
    text-align: center;    
}
.copy {
    position: absolute;
    font-size: 0.7em;
    right: 0;
    bottom: 0;
}

