<aside side-menu class="side-menu">
    <div class="side-menu-container">
        <h3 class="silver-chalice-text1">View photos by topic:</h3>
        <div class="side-submenu">
            <ul>
                <li ng-repeat="topic in topics" ng-click="addTopic(topic)"><a href="" class="san-marino-text">{{ topic.name }}</a></li>
            </ul>
        </div>
    </div>
    <div class="side-footer">
        <div class="insta-logo">
            <i class="fa fa-camera-retro fa-5x silver-chalice-text"></i>
            <p class="silver-chalice-text">InstagramViewer</p>
        </div>
    </div>
    <div class="copy">
    &copy K.N.Malysheva, 2015
</div>
</aside>
